<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>
<div class="about-section">
  <h1>About</h1>
  <p>DataMapsDE is a project created by Jacob Nozaki that aims to make interacting with Germany, as well as its states and cities, more accessible and helpful</p>
  <p>The impetus for this project came from my realization that most products are being created and developed for global use, without the actual engineers, developers, and designers having much exposure to the groups they’re working to make a quality, useful product for. This website could act as a tool that allows people to learn more about, and connect with, the people, cultures, and communities that they’re working for. </p>
</div>

<h2 style="text-align:center">About the Founders</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="jacob.jpeg" alt="Jacob" style="width:100%">
      <div class="container">
        <h2>Jacob Nozaki</h2>
        <p class="title">Founder</p>
        <p>Class of 2022</p>
        <p>CISLA Scholar, Computer Science major, Psychology and German Minors</p>
        <p>jnozaki@conncoll.edu</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>