<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>

<div id="popup-overlay">
    <div id="popup-content">
    <div id="map-popup">    
            <div class="block block_title">
        <div class="bound-narrow">
            <h6>City / Stadt</h6>
    <h1>Erfurt</h1>
        </div>
    </div>        <div class="wysiwyg">
            <div class="bound-narrow">
                <p>
                     Erfurt is the capital and largest city of Thuringia.
                </p>
                <ul>
                                <li><a href="https://datacommons.org/place/nuts/DEG01">Total Population: 213,699</a></li>
                                <li><a href="https://datacommons.org/place/nuts/DEG01?category=Demographics">Age Distribution: Largest Groups = 30-39 and 70+, Germany = 50-59 and 70+</a></li>
                                <li><a href="https://www.erfurt-tourismus.de/en/">Tourism Page: Martin Luther, Gerdens, Tours, and More</a></li>
                            </ul>
            </div>
        </div>
    </div></div></div>