<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>
<div id="popup-overlay">
    <div id="popup-content">
    <div id="map-popup">    
            <div class="block block_title">
        <div class="bound-narrow">
            <h6>State / Bundesländer</h6>
    <h1>North Rhine-Westphalia / Nordrhein-Westfalen</h1>
        </div>
    </div>        <div class="wysiwyg">
            <div class="bound-narrow">
                <p> NRW is the most populous, most densely-populated, and 4th largest, city in Germany. Located in Northwestern Germany, its capital city is Düsseldorf.
                </p>
                <p>Click links to see data sources!</p>
                <ul>
                                <li><a href="https://www.destatis.de/EN/Themes/Society-Environment/Population/Current-Population/Tables/population-by-laender.html">Population: </a></li>
                                <li><a href="https://www.destatis.de/EN/Themes/Labour/Earnings/Earnings-Earnings-Differences/Tables/gpg-hours-Laender-2018.html">Average Income:Women -> 16.85 | men->	20.96</a></li>
                                <li><a href="/cologne">Largest and Most Populous City: Cologne</a></li>
                                <li><a href="https://www.ksta.de/?cb=1649913426024&">Population: </a></li>

                            </ul>
            </div>
        </div>
    </div></div></div>


    