<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>
<div id="popup-overlay">
    <div id="popup-content">
    <div id="map-popup">    
            <div class="block block_title">
        <div class="bound-narrow">
            <h6>State / Bundesländer</h6>
    <h1>North Rhine-Westphalia / Nordrhein-Westfalen</h1>
        </div>
    </div>        <div class="wysiwyg">
            <div class="bound-narrow">
                <p> NRW is the most populous, most densely-populated, and 4th largest, city in Germany. Located in Northwestern Germany, its capital city is Düsseldorf.
                </p>
                <ul>
                                <li><a href="/community/?trip=november-2018-african-great-lakes-reporting-trip-to-the-central-african-republic">Population: </a></li>
                                <li><a href="/community/?trip=2017-car">Average Income:</a></li>
                                <li><a href="/cologne">Largest and Most Populous City: Cologne</a></li>
                            </ul>
            </div>
        </div>
    </div></div></div>


    