<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>

<div id="popup-overlay">
    <div id="popup-content">
    <div id="map-popup">    
            <div class="block block_title">
        <div class="bound-narrow">
            <h6>City / Stadt</h6>
    <h1>Stuttgart</h1>
        </div>
    </div>        <div class="wysiwyg">
            <div class="bound-narrow">
                <p>
                     Stuttgart is the capital and largest city of Baden-Württemberg.
                </p>
                <ul>
                                <li><a href="https://datacommons.org/place/nuts/DE111">Total Population: 634,830</a></li>
                                <li><a href="https://datacommons.org/place/nuts/DE111?category=Demographics">Age Distribution: Largest Groups = 20-29 and 30-39, Germany = 50-59 and 70+</a></li>
                                <li><a href="https://www.stuttgart-tourist.de/en">Tourism Page: Mercedes-Benz and Porsche Museums, and More</a></li>
                            </ul>
            </div>
        </div>
    </div></div></div>