<div class="DE-top">
  <div class="DE-bar DE-white DE-wide DE-padding DE-card">
    <a href = "/" class = "DE-bar-item DE-button"><b>DataMapsDE</b></a>
    <div class = "DE-right DE-hide-small">
      <a href="/about" class="DE-bar-item DE-button">About</a>
      <a href="/contact" class="DE-bar-item DE-button">Contact</a>
    </div>
  </div>
</div>
<div id="popup-overlay">
    <div id="popup-content">
    <div id="map-popup">    
            <div class="block block_title">
        <div class="bound-narrow">
            <h6>Federal State / Bundesländer</h6>
    <h1>Thuringia / Thüringen</h1>
        </div>
    </div>        <div class="wysiwyg">
            <div class="bound-narrow">
                <p> NRW is the most populous, most densely-populated, and 4th largest, city in Germany. Located in Northwestern Germany, its capital city is Düsseldorf.
                </p>
                <p>Click links to see data sources!</p>
                <ul>
                                <li><a href="https://www.destatis.de/EN/Themes/Society-Environment/Population/Current-Population/Tables/population-by-laender.html">Population: 2,120,237</a></li>
                                <li><a href="https://www.destatis.de/EN/Themes/Labour/Earnings/Earnings-Earnings-Differences/Tables/gpg-hours-Laender-2018.html">Average Hourly Income (EUR): Germany: Women = 16.79, Men =	20.84, Thuringia - Women = 15.35, Men =	16.33</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1EA5jM7uqwLwaN4HloGyye1ssNaQX6mJ8/edit?usp=sharing&ouid=106839117392821010157&rtpof=true&sd=true">Unemployment Rate (%): Total = 5.6, Men = 5.9, Women = 5.2</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1VFcmO-0icmXD5jyMpcMJAnOEhzFZcz3s/edit?usp=sharing&ouid=106839117392821010157&rtpof=true&sd=true">People in, or at risk of, poverty (%): Germany = 16.2, Thuringia = 17.9</a></li>
                                <li><a href="https://docs.google.com/spreadsheets/d/1Con87_0QZiygvS1twjDEantEvA36-hzR/edit?usp=sharing&ouid=106839117392821010157&rtpof=true&sd=true">Education Level: University: 463,000, Intermediate School: 282,000, Secondary General School: 283,000</a></li>
                                <li><a href="/erfurt">Capital and Most Populous City: Erfurt</a></li>
                            </ul>
              <p>   </p>
              <p>   </p>

              <p>   </p>


                            
            </div>
        </div>
    </div></div></div>


    